@media (min-width: 320px) and (max-width: 575.98px) {
  body .header {
    background-image: url(images/mobile/image-header.jpg);
    background-position-x: center;
    background-size: cover;
    width: auto;
  }
  body .header .header_menu .onlymobile {
    display: block;
  }
  body .header .header_menu .onlymobile .fa-bars {
    color: #ffffff;
  }
  body .header .header_menu .nav_bar {
    display: none;
  }
  body .header .header_title h1 {
    letter-spacing: 8px;
    font-size: 32px;
    color: #ffffff;
    padding: 22% 0%;
    text-align: center;
  }
  body .transform_section {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
  }
  body .transform_section .transform_title {
    position: relative;
    padding: 40px 5px;
    align-items: center;
  }
  body .transform_section .transform_title h1 {
    text-align: center;
  }
  body .transform_section .transform_title p {
    text-align: center;
    margin: 15px 28px;
  }
  body .transform_section .transform_title a {
    font-weight: bold;
  }
  body .transform_section .transform_title .highlight_Transform {
    left: 36%;
    bottom: 11%;
    width: 29%;
  }
  body .standout_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  body .standout_section .standout_title {
    position: relative;
    padding: 40px 15px;
    align-items: center;
  }
  body .standout_section .standout_title h1 {
    text-align: center;
  }
  body .standout_section .standout_title p {
    text-align: center;
    margin: 15px 27px;
  }
  body .standout_section .standout_title a {
    font-weight: bold;
  }
  body .standout_section .standout_title .highlight_Stand {
    left: 36%;
    bottom: 11%;
    width: 29%;
  }
  body .design_section {
    display: flex;
    flex-direction: column;
  }
  body .design_section .design_image {
    display: flex;
    flex-direction: column;
  }
  body .design_section .design_image .design_title {
    padding: 0%;
  }
  body .design_section .design_image .Photography_title {
    padding: 0%;
  }
  body .design_section .design_image .desktop_graphic {
    display: none;
  }
  .testimonial_section {
    margin: 0px;
  }
  .testimonial_section h1 {
    text-align: center;
    margin: 50px 0px;
    font-size: 16px;
    font-family: "Fraunces";
  }
  .testimonial_section .testimonial_clients {
    display: flex;
    flex-direction: column;
  }
  .testimonial_section .testimonial_clients .clients_detail {
    margin: 30px 0px;
  }
  .testimonial_section .testimonial_clients .clients_detail .name {
    padding: 5%;
    font-family: "Fraunces";
    font-weight: bold;
  }
  .testimonial_section .testimonial_clients .clients_detail .designation {
    color: #a7abae;
    font-family: "Fraunces";
  }
  .testimonial_section .testimonial_clients .clients_detail .clients_description {
    padding: 20px 24px;
  }
  .testimonial_section .testimonial_clients .clients_detail .clients_description p {
    line-height: 1.8;
    font-size: 18px;
  }
  .gallary_section .gallary_desktop {
    display: none;
  }
  .gallary_section .gallary_mobile {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .gallary_section .gallary_mobile .gallary_img_mobile {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .header {
    background-image: url(images/mobile/image-header.jpg);
    background-position-x: center;
    background-size: cover;
    width: auto;
  }
  .header .header_menu .onlymobile {
    display: block;
  }
  .header .header_menu .onlymobile .fa-bars {
    color: #ffffff;
  }
  .header .header_menu .nav_bar {
    display: none;
  }
  .header .header_title h1 {
    letter-spacing: 8px;
    font-size: 32px;
    color: #ffffff;
    padding: 22% 0%;
    text-align: center;
  }
  .transform_section {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
  }
  .transform_section .transform_title {
    position: relative;
    padding: 40px 5px;
    align-items: center;
  }
  .transform_section .transform_title h1 {
    text-align: center;
  }
  .transform_section .transform_title p {
    text-align: center;
    margin: 15px 28px;
  }
  .transform_section .transform_title a {
    font-weight: bold;
  }
  .transform_section .transform_title .highlight_Transform {
    left: 32%;
    bottom: 11%;
    width: 36%;
  }
  .standout_section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .standout_section .standout_title {
    position: relative;
    padding: 40px 15px;
    align-items: center;
  }
  .standout_section .standout_title h1 {
    text-align: center;
  }
  .standout_section .standout_title p {
    text-align: center;
    margin: 15px 27px;
  }
  .standout_section .standout_title a {
    font-weight: bold;
  }
  .standout_section .standout_title .highlight_Stand {
    left: 32%;
    bottom: 11%;
    width: 36%;
  }
  .design_section {
    display: flex;
    flex-direction: column;
  }
  .design_section .design_image {
    display: flex;
    flex-direction: column;
  }
  .design_section .design_image .design_title {
    padding: 0%;
  }
  .design_section .design_image .Photography_title {
    padding: 0%;
  }
  .design_section .design_image .desktop_graphic {
    width: 100%;
    height: auto;
  }
  .testimonial_section {
    margin: 0px;
  }
  .testimonial_section h1 {
    text-align: center;
    margin: 50px 0px;
    font-size: 16px;
    font-family: "Fraunces";
  }
  .testimonial_section .testimonial_clients {
    display: flex;
    flex-direction: column;
  }
  .testimonial_section .testimonial_clients .clients_detail {
    margin: 30px 0px;
  }
  .testimonial_section .testimonial_clients .clients_detail .name {
    padding: 5%;
    font-family: "Fraunces";
    font-weight: bold;
  }
  .testimonial_section .testimonial_clients .clients_detail .designation {
    color: #a7abae;
    font-family: "Fraunces";
  }
  .testimonial_section .testimonial_clients .clients_detail .clients_description {
    padding: 20px 24px;
  }
  .testimonial_section .testimonial_clients .clients_detail .clients_description p {
    line-height: 1.8;
    font-size: 18px;
  }
  .gallary_section .gallary_desktop {
    display: none;
  }
  .gallary_section .gallary_mobile {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .gallary_section .gallary_mobile .gallary_img_mobile {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .header .header_title h1 {
    padding: 10% 0%;
  }
  .design_section .design_image .formobile_graphic {
    display: none;
  }
  .design_section .design_image .design_title {
    bottom: 10px;
    padding: 0px 0px;
  }
  .design_section .design_image .design_title p {
    width: 100%;
    margin: 0px 0px;
  }
  .design_section .design_image .Photography_title {
    bottom: 10px;
    padding: 0px 0px;
  }
  .transform_section {
    height: 100%;
  }
  .transform_section .transform_title {
    padding: 0px 36px;
  }
  .transform_section .transform_title .highlight_Transform {
    left: 8%;
    width: 25%;
  }
  .standout_section {
    height: 315px;
  }
  .standout_section .standout_title {
    padding: 0px 36px;
  }
  .standout_section .standout_title .highlight_Stand {
    left: 8%;
    width: 25%;
  }
  .gallary_section .gallary_desktop .gallary_img {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .transform_section {
    height: 420px;
  }
  .transform_section .transform_title .highlight_Transform {
    left: 25%;
  }
  .standout_section {
    height: 420px;
  }
  .standout_section .standout_title .highlight_Stand {
    left: 25%;
  }
  .design_section .design_image .formobile_graphic {
    display: none;
  }
  .design_section .design_image .formobile_graphic .design_title {
    bottom: 10px;
    padding: 0px 20px;
  }
  .design_section .design_image .formobile_graphic .design_title p {
    width: 100%;
    margin: 15px 0px;
  }
  .design_section .design_image .formobile_graphic .Photography_title {
    bottom: 10px;
    padding: 0px 20px;
  }
  .testimonial_section .testimonial_clients .clients_detail .clients_description {
    padding: 8%;
  }
  .gallary_section .gallary_desktop .gallary_img {
    max-width: 100%;
    height: auto;
  }
}
@media (min-width: 1200px) and (max-width: 1440px) {
  .design_section .design_image .formobile_graphic {
    display: none;
  }
  .transform_section .transform_title .highlight_Transform {
    left: 20%;
    width: 16%;
  }
  .standout_section .standout_title .highlight_Stand {
    left: 20%;
    width: 16%;
  }
  .gallary_section .gallary_desktop .gallary_img {
    width: 100%;
    height: auto;
  }
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Barlow", serif;
}

.grid_section, .design_contents, .design_section, .standout_section, .transform_section {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

.grid_title, .design_contents .Photography_title, .design_section .design_image .Photography_title, .design_section .design_image .design_title, .standout_section .standout_title, .transform_section .transform_title {
  padding: 0px 129px;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}

.highlight_properties, .standout_section .standout_title .highlight_Stand, .transform_section .transform_title .highlight_Transform {
  position: absolute;
  bottom: -1%;
  height: 10px;
  left: 18%;
  opacity: 0.4;
  width: 20%;
  border-radius: 16px;
}

.button_border {
  border-radius: 20px;
  background: #ffffff;
  padding: 10px 18px;
  color: #19536b;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-weight: 600;
}

.header {
  background-image: url(images/desktop/image-header.jpg);
  background-position-x: center;
  padding: 30px;
  background-size: cover;
  height: 700px;
  width: 100%;
}
.header .header_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header .header_menu .onlymobile {
  display: none;
}
.header .header_menu .nav_bar ul {
  display: flex;
  flex-direction: row;
  gap: 49px;
  list-style: none;
  color: #ffffff;
  align-items: center;
  font-family: "Barlow";
}
.header .header_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}
.header .header_title h1 {
  letter-spacing: 7px;
  font-size: 48px;
  color: #ffffff;
  padding: 7%;
  font-family: "Fraunces", serif;
}

.transform_section {
  height: 533px;
}
.transform_section .transform_image img {
  width: 100%;
  height: auto;
}
.transform_section .transform_title {
  position: relative;
}
.transform_section .transform_title h1 {
  font-family: "Fraunces", serif;
  width: 90%;
  color: #23303e;
}
.transform_section .transform_title p {
  margin: 15px 0px;
  color: #5a636c;
}
.transform_section .transform_title a {
  text-decoration: none;
  color: #23303e;
  font-family: "Fraunces", serif;
  font-size: 14px;
}
.transform_section .transform_title .highlight_Transform {
  background: #fad400;
}

.standout_section {
  height: 533px;
}
.standout_section .standout_image img {
  width: 100%;
  height: auto;
}
.standout_section .standout_title {
  position: relative;
}
.standout_section .standout_title h1 {
  font-family: "Fraunces", serif;
  width: 90%;
  color: #23303e;
}
.standout_section .standout_title p {
  margin: 15px 0px;
  color: #5a636c;
}
.standout_section .standout_title a {
  text-decoration: none;
  color: #23303e;
  font-family: "Fraunces", serif;
  font-size: 14px;
}
.standout_section .standout_title .highlight_Stand {
  background: #fe7867;
}

.design_section .design_image {
  position: relative;
}
.design_section .design_image img {
  width: 100%;
  height: auto;
}
.design_section .design_image .design_title {
  position: absolute;
  bottom: 30px;
}
.design_section .design_image .design_title h1 {
  text-align: center;
  font-family: "Fraunces", serif;
}
.design_section .design_image .design_title p {
  text-align: center;
  padding: 15px;
  color: #5a636c;
  width: 100%;
}
.design_section .design_image .Photography_title {
  position: absolute;
  bottom: 30px;
}
.design_section .design_image .Photography_title h1 {
  text-align: center;
  font-family: "Fraunces", serif;
}
.design_section .design_image .Photography_title p {
  text-align: center;
  margin: 15px 34px;
  color: #5a636c;
  width: 83%;
}

.design_contents {
  position: relative;
}
.design_contents .Photography_title {
  position: absolute;
  bottom: 30px;
  left: 50%;
}
.design_contents .Photography_title h1 {
  text-align: center;
}
.design_contents .Photography_title p {
  text-align: center;
  margin: 15px 34px;
  color: #5a636c;
  width: 83%;
}

.testimonial_section {
  margin: 10%;
}
.testimonial_section h1 {
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #a7abae;
  margin: 50px;
  font-family: "Fraunces", serif;
}
.testimonial_section .testimonial_clients {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.testimonial_section .testimonial_clients .clients_detail .clients_description {
  padding: 9%;
  font-family: "Fraunces", serif;
  color: #5a636c;
}
.testimonial_section .testimonial_clients .clients_detail .name {
  padding: 5%;
}
.testimonial_section .testimonial_clients .clients_detail .designation {
  color: #5a636c;
}
.testimonial_section .testimonial_clients .clients_detail img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
}

.gallary_section .gallary_desktop {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.gallary_section .gallary_desktop .gallary_img {
  width: 320px;
  height: auto;
}
.gallary_section .gallary_mobile {
  display: none;
}

.footer {
  background-color: #7bbca2;
  padding: 5rem;
}
.footer .footer_logo {
  text-align: center;
  color: #25564b;
}
.footer .footer_logo img {
  width: 150px;
  height: auto;
}
.footer .footer_menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  padding: 30px;
}
.footer .footer_menu a {
  text-decoration: none;
  color: #25564b;
  cursor: pointer;
}
.footer .footer_menu a:hover {
  color: #ffffff;
}
.footer .footer_socialmedia_link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 26px;
  color: #25564b;
  margin-top: 3%;
  cursor: pointer;
}
.footer .footer_socialmedia_link .fa-brands:hover {
  color: #ffffff;
}/*# sourceMappingURL=style.css.map */