$soft_red:#fe7867;
$yellow:#fad400;
$graphic:#25564b;
$dark_blue:#19536b;
$dark_moderate:#458c7e;

$very_dark_desaturated_blue:#23303e;
$very_dark_grayish_blue:#5a636c;
$dark_grayish_blue:#818498;
$grayish_blue:#a7abae;
$white:#ffffff;
